@charset "UTF-8";

/* variaveis globais */
:root {
    --corDestaque: #e75553;
    --corBranco: #fffcf1;
    --corPreto: #222222;
    --corCinza: #828282;
    --corVerde: #08c87d;
}

/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

@font-face {
    font-family: "et-book";
    src: url("fonts/SourceSerif4/SourceSerif4-Medium.ttf");
    font-weight: normal;ƒ
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("fonts/SourceSerif4/SourceSerif4-Italic.ttf");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("fonts/SourceSerif4/SourceSerif4-Medium.ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book-roman-old-style";
    src: url("fonts/SourceSerif4/SourceSerif4-Medium.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Black;
    src: url(../assets/fonts/Poppins/Poppins-Black.ttf);
}


@font-face {
    font-family: PoppinsLight;
    src: url("../assets/fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: PoppinsItalic;
    src: url("../assets/fonts/Poppins/Poppins-Italic.ttf");
}

@font-face {
    font-family: Knockout;
    src: url("../assets/fonts/Knockout/Knockout-HTF48-Featherweight.otf");
}

@font-face {
    font-family: KnockoutJunior;
    src: url("../assets/fonts/Knockout/Knockout-HTF26-JuniorFlyweight.otf");
}


/* customizacoes */
.titulo {
    /*width: 85%;*/
    margin-left: 0;
    margin-right: 0;
    padding-top: 12.5%;
    padding-left: 12.5%;
    padding-right: 11%;
    padding-bottom: 12.5%;
    background-color: var(--corDestaque);
        background: linear-gradient(rgb(22, 22, 22, 0.6),  rgb(22, 22, 22, 0.6)), url("media/midia_ninja_live.gif");
    background: linear-gradient(rgb(22, 22, 22, 0.6),  rgb(22, 22, 22, 0.6)), url("media/midia_ninja_live.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.quadro1 {
    position: sticky;
    width: 177%;
    height: 720px;
    margin-left: -20%;
    margin-top: 10%;
    margin-right: 0;
    
    padding-top: 12.5%;
    padding-left: 12.5%;
    padding-right: 11%;
    padding-bottom: 12.5%;
    
    background-color: var(--corDestaque);
    background: linear-gradient(rgb(22, 22, 22, 0.6),  rgb(22, 22, 22, 0.6)), url("media/midia_ninja_live.gif");

    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100% 100%;
}

.quadro2 {
    position: sticky;
    width: 177%;
    height: fit-content;
    margin-left: -20%;
    margin-top: 10%;
    margin-right: 0;
    
    padding-top: 13.5%;
    padding-left: 12.5%;
    padding-right: 11%;
    padding-bottom: 12.5%;
    
    background-color: var(--corDestaque);
    background: linear-gradient(rgb(22, 22, 22, 0.6),  rgb(22, 22, 22, 0.6)), url("media/Youtubers_Bolsonaristas_640p.gif");

    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: 100% 100%;
}

th {
    width: 620px;
    height: fit-content;
    padding-top: 1.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 1.5%;
    margin-bottom: 12%;

    font-family: PoppinsLight;
    color: var(--corBranco);
    font-size: 1.2em;
    line-height: 2rem;
    text-align: left;

    background: linear-gradient(rgb(10, 10, 10, 0.6),  rgb(10, 10, , 0.6));

}

th > strong {
    font-family: Poppins;
    color: var(--corDestaque);
    text-transform: uppercase;
}

th > strong::selection {
    color: var(--corBranco);
}

.titulo ::selection {
    background-color: var(--corPreto);
    color: var(--corDestaque);
}

.subtitulo {
    margin-top: 150px;
    margin-left: 50%;
    margin-right: 5%;
    font-family: PoppinsLight;
    color: var(--corBranco);
}

.legenda {
    font-family: PoppinsLight;
    font-size: 1.2em;
    color: var(--corDestaque);
}

.legenda::selection {
    background-color: var(--corPreto);
    color: var(--corDestaque);
}

.sumario {
    /*font-family: PoppinsLight;*/
}

.h1Sumario {
    font-family: Knockout;
    text-transform: uppercase;
    font-size: 1.8em;
}

.h2Sumario {
    width: 100%;
    margin-left: 40px;
}

article {
    width: 50%;
    margin-left: 10%;
    margin-right: auto;
}

#titulo {
    font-family: Knockout;
    text-transform: uppercase;
    font-size: 5.8em;
    line-height: 120%;
    color: var(--corDestaque);
    display: inline;
    box-decoration-break: clone;
    background: var(--corPreto);
    padding: 0.5rem 1rem;
}

h1 {
    font-family: Knockout;
    text-transform: uppercase;
}

h2 {
    font-family: Poppins-Italic;
}

::selection {
    background-color: var(--corDestaque);
}


/* Tufte CSS styles */
html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: var(--corBranco);
    color: var(--corPreto);
    max-width: 100%;
    counter-reset: sidenote-counter;
}


/* Adds dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--corBranco);
        color: var(--corPreto);
    }
}

h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-family: Poppins;
    /*font-style: italic;*/
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

h3 {
   font-family: Poppins;
    /*font-style: italic;*/
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

p.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
}

.numeral {
    font-family: et-book-roman-old-style;
}

.danger {
    color: red;
}

article {
    padding: 5rem 0rem;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p,
dl,
ol,
ul {
    font-size: 1.4rem;
    line-height: 2rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

/* Chapter Epigraphs */
div.epigraph {
    margin: 5em 0;
}

div.epigraph > blockquote {
    margin-top: 3em;
    margin-bottom: 3em;
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
    font-style: italic;
}

div.epigraph > blockquote > footer {
    font-style: normal;
}

div.epigraph > blockquote > footer > cite {
    font-style: italic;
}
/* end chapter epigraphs styles */

blockquote {
    font-size: 1.4rem;
}

blockquote p {
    width: 90%;
    margin-left: 20%;
    font-style: italic;
}

blockquote footer {
    width: 55%;
    font-size: 1.1rem;
    text-align: right;
}

section > p,
section > footer,
section > table {
    width: 55%;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
    width: 50%;
    -webkit-padding-start: 5%;
}

dt:not(:first-child),
li:not(:first-child) {
    margin-top: 0.25rem;
}

figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 40%;
}

figure.fullwidth figcaption {
    margin-right: 24%;
}


a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--corDestaque);
    text-decoration: none;
}

/* Sidenotes, margin notes, figures, captions

img {
    width: 40%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
} */

img {
    background-color: var(--corDestaque);
    float: right;
    clear: right;
    margin-right: -70%;
    width: 30%;
    max-width: 60%;
    height: 100%;
    vertical-align: baseline;
    position: relative;
    margin-bottom: 10px;
    /* border-radius: 24px; */
    border: 8px solid var(--corDestaque);
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -50%;
    width: 40%;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
    color: var(--corDestaque);
}

.sidenote::selection {
    color: var(--corPreto);
}

.sidenote-number {
    counter-increment: sidenote-counter;
    color: var(--corBranco);
}

.sidenote-number:after,
.sidenote:before {
    font-family: Poppins-Bold;
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
}

div.fullwidth,
table.fullwidth {
    width: 100%;
}

div.table-wrapper {
    overflow-x: auto;
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.sans {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    letter-spacing: .03em;
}

code, pre > code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
    font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
    font-size: 0.80em;
}

.marginnote > code,
.sidenote > code {
    font-size: 1rem;
}

pre > code {
    font-size: 0.9rem;
    width: 52.5%;
    margin-left: 2.5%;
    overflow-x: auto;
    display: block;
}

pre.fullwidth > code {
    width: 90%;
}

.fullwidth {
    max-width: 90%;
    clear:both;
}

span.newthought {
    font-variant: small-caps;
    font-size: 1.2em;
}

input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline-block;
    max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 760px) {
    body {
        /* width: 84%;
        padding-left: 8%;
        padding-right: 8%; */
    }

    article {
        width: 90%;
        margin: 0 6% 0 6%;
        padding: 0;
    }

    .titulo {
        padding: 6% 0 6% 0;
    }

    #titulo {
        font-size: 3.8em;
        line-height: 110%;
        padding: 1%;
        margin: 6% 6% 0% 6%;
    }

   .subtitulo {
        width: 90%;
        padding: 6% 0 6% 0;
        margin: 0 6% 0% 6%;
    }

    hr,
    section > p,
    section > footer,
    section > table {
        width: 100%;
    }

    pre > code {
        width: 97%;
    }

    section > dl,
    section > ol,
    section > ul {
        width: 90%;
    }

    figure {
        max-width: 90%;
    }

    figcaption,
    figure.fullwidth figcaption {
        margin-right: 0%;
        max-width: none;
    }

    blockquote {
        margin-left: 1.5em;
        margin-right: 0em;
    }

    blockquote p,
    blockquote footer {
        display: block;
        width: 100%;
        margin: 2rem auto;
    }

    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    label {
        cursor: pointer;
    }

    div.table-wrapper,
    table {
        width: 85%;
    }

    article img {
           display: block;
           width: 100%;
           max-width: 100%;
           height: auto;
           position: relative;
           margin: 2rem auto;
           float: none;
           clear: both;
    }

    table, thead, tbody, tr {
        display: block;
        width: 100%;
    }
    td, th {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        margin-bottom: 3%;
    }

    th > strong {
    font-family: Poppins;
    color: var(--corDestaque);
    text-transform: uppercase; 
    }

    th > strong::selection {
        color: var(--corPreto);
    }
    table {
        max-width: 100vw;
        width: 100%;
        overflow-x: auto;
        box-sizing: border-box;
        display: block;
    }
    .quadro1,
    .quadro2 {
        max-width: 100vw;
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
        height: auto;
        background: var(--corPreto) !important;
        background-image: none !important;
        padding: 0;
    }
    .quadro1::before {
        content: '';
        display: block;
        width: 100%;
        height: 400px;
        background: url('media/midia_ninja_live.gif') center center/cover no-repeat;
        margin-bottom: 1.5rem;
    }
    .quadro2::before {
        content: '';
        display: block;
        width: 100%;
        height: 400px;
        background: url('media/Youtubers_Bolsonaristas_640p.gif') center center/cover no-repeat;
        margin-bottom: 1.5rem;
    }
    .quadro1 table,
    .quadro2 table {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .quadro1 td,
    .quadro1 th,
    .quadro2 td,
    .quadro2 th {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
    }
   
    /* Reordenação das células das tabelas dos quadros no mobile */
    .quadro1 table,
    .quadro2 table {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .quadro1 tr,
    .quadro1 th,
    .quadro2 tr,
    .quadro2 th {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
    }
    /* Ordem visual para quadro1 */
    .quadro1 .retorica-visual { order: 1; }
    .quadro1 .funcao-imagem { order: 2; }
    .quadro1 .qualidade-comunicacao { order: 3; }
    .quadro1 .exame-funcao { order: 4; }
    .quadro1 .retorica-interacao { order: 5; }
    .quadro1 .construcao-ethos { order: 6; }
    .quadro1 .dinamica-progresso { order: 7; }
    .quadro1 .formacao-grupo { order: 8; }
}
