@font-face {
  font-family: 'Regular';
  src: url('../fonts/WorkSans/WorkSans-Regular.ttf');
}
@font-face {
  font-family: 'Medium';
  src: url('../fonts/WorkSans/WorkSans-Medium.ttf');
}
@font-face {
  font-family: 'SemiBold';
  src: url('../fonts/WorkSans/WorkSans-SemiBold.ttf');
}
@font-face {
  font-family: 'SemiBold';
  src: url('../fonts/WorkSans/WorkSans-SemiBold.ttf');
}
@keyframes bScale {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: scale(1.1);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
html,
body,
footer {
  background-color: #FFFFFF;
  scroll-behavior: smooth;
}
p {
  font-family: 'Regular', sans-serif;
  color: #262520;
  margin-bottom: 8px;
}
::selection {
  color: #FFFFFF;
  background: #262520;
}
p.msc {
  color: #e75553;
}
p.branco {
  color: #FFFFFF;
  text-decoration: none;
}
.tituloGeral {
  padding-left: 32px;
  align-self: center;
  font-family: 'Medium', sans-serif;
  font-size: 32px;
  line-height: 68px;
  letter-spacing: 0.3em;
}
.Principal {
  padding: 96px 16px 16px 16px !important;
}
@media (max-width: 768px) {
  .tituloGeral {
    padding-left: 16px;
    font-size: 16px;
  }
}
@media (max-width: 512px) {
  .tituloGeral {
    font-size: 8px;
    opacity: 0;
  }
}
/* LINKS EM GERAL */
a.bigTitle {
  font-family: 'SemiBold', sans-serif;
}
a,
a:visited {
  font-family: 'SemiBold', sans-serif;
  text-decoration: none;
  color: currentColor;
}
a.branco,
a.branco:visited {
  display: inline-block;
  font-family: 'SemiBold', sans-serif;
  text-decoration: none;
  color: currentColor;
}
a.branco::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.3s;
}
a.branco:hover::after {
  width: 100%;
}
/* LINKS DO MENU */
a.menu,
a.menu:visited {
  display: inline-block;
  font-family: 'Regular', sans-serif;
  text-decoration: none;
  color: currentColor;
}
a.menu::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.3s;
}
a.menu:hover::after {
  width: 100%;
}
/* cores principais para os links */
a.msc,
a.msc:visited {
  display: inline-block;
  color: #e75553;
  text-decoration: none;
  font-family: 'SemiBold', sans-serif;
}
a.msc::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #e75553;
  transition: width 0.3s;
}
a.msc:hover::after {
  width: 100%;
}
a.cdg,
a.cdg:visited {
  display: inline-block;
  color: #06975e;
  text-decoration: none;
  font-family: 'SemiBold', sans-serif;
}
a.cdg::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #06975e;
  transition: width 0.3s;
}
a.cdg:hover::after {
  width: 100%;
}
a.dsg,
a.dsg:visited {
  display: inline-block;
  color: #2c6fa3;
  text-decoration: none;
  font-family: 'SemiBold', sans-serif;
}
a.dsg::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #2c6fa3;
  transition: width 0.3s;
}
a.dsg:hover::after {
  width: 100%;
}
a.outro,
a.outro:visited {
  display: inline-block;
  color: currentColor;
  text-decoration: none;
  font-family: 'SemiBold', sans-serif;
}
a.outro::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.3s;
}
a.outro:hover::after {
  width: 100%;
}
/* classes gerais */
h1 {
  font-family: 'Regular', sans-serif;
  font-style: normal;
  font-size: 64px;
  line-height: 69px;
  text-align: left;
}
h1.branco {
  color: #FFFFFF;
}
h2 {
  font-family: 'SemiBold', sans-serif;
  font-size: 32px;
  line-height: 38px;
  color: #262520;
  padding-bottom: 20px;
}
h1.Projeto {
  font-family: 'Regular', sans-serif;
  font-style: normal;
  font-size: 64px;
  line-height: 68px;
  text-align: left;
}
h2.Projeto {
  font-family: 'Regular', sans-serif;
  font-style: normal;
  font-size: 42px;
  line-height: 69px;
  text-align: left;
}
.tituloProjeto {
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer {
  margin: auto;
  padding: 20px;
  background-color: #262520;
  fill: #262520;
  text-align: center;
}
.containerBase {
  padding-top: 96px;
}
/* estilos das thumbs da home */
.thumb {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.overlay {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  align-content: center;
}
.overlay:hover {
  opacity: 0.7;
}
.videoThumb {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
}
.overlay:hover ~ .videoThumb {
  opacity: 1;
}
.thumbTexto {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Regular', sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
}
/* retira os controles do vídeo*/
::-webkit-media-controls {
  display: none !important;
}
/*estilos gerais das páginas*/
.texto {
  margin: auto;
  width: 550px;
  max-width: 100%;
  font-size: 18px;
  line-height: 28px;
  box-sizing: border-box;
  display: block;
  padding-bottom: 20px;
}
.subTitles {
  position: fixed;
  box-sizing: border-box;
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 2;
  width: 100%;
  z-index: 2;
  margin-top: 35px;
}
.bigTitle h1 {
  font-size: calc(40px + (120 - 40) * ((100vw - 300px) / (1900 - 300)));
  cursor: pointer;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .bigTitle {
    font-size: 60%;
  }
  .imagens {
    margin-top: 0%;
  }
}
.logo {
  text-decoration: none;
  box-sizing: border-box;
  margin: auto;
  display: block;
  width: 80px;
  max-width: 100%;
  /*vertical-align: 50%;*/
  padding: 10%;
}
@media screen and (max-width: 768px) {
  .logo {
    padding: 20% 10% 10% 0%;
    max-width: 80%;
  }
}
.logoHome {
  padding-top: 40px;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .logoHome {
    min-width: 25vw;
  }
}
.bigTitle:hover,
.logo:hover,
.logoHome:hover {
  transform: scale(0.95);
  transition: 0.5s ease;
}
#section1 {
  position: fixed;
  float: left;
}
/* Estilos - pág música */
.content {
  position: relative;
  min-width: 25%;
  box-sizing: border-box;
  display: block;
  padding: 20px 20px;
}
.contentMsc {
  left: 2%;
  width: 94%;
  background-color: #262520;
  padding: 65px;
  flex-wrap: wrap;
  flex-shrink: 2;
  overflow-y: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  position: relative;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .contentMsc {
    max-width: 100%;
    padding: 6px;
  }
}
.mscBox {
  border-spacing: 20px;
  width: 100%;
  float: left;
  max-width: 550px;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
}
.coverBbox {
  width: 100%;
  height: 100%;
  background-color: #e75553;
  background-position: center;
  background-size: cover;
  padding: 20px;
}
.cover {
  transform: scale(1.085);
  width: 100%;
  height: 100%;
}
.cover:hover {
  transform: scale(1);
  transition: 0.5s ease;
}
.mscText {
  background-color: #e75553;
  color: #FFFFFF;
  width: 100%;
  height: 200px;
  vertical-align: middle;
  float: left;
  box-sizing: border-box;
  padding: 12px 20px 20px 20px;
}
@media screen and (max-width: 768px) {
  .mscText {
    height: 100%;
  }
}
.perfil {
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  min-width: 200px;
  width: 256px;
  backface-visibility: hidden;
}
.perfil:hover {
  transition: 0.5s ease;
  opacity: 0.8;
}
.textoCover {
  padding: 10px;
}
.icones {
  width: 30px;
  margin: 4px;
}
.icones:hover {
  animation-name: bScale;
  animation-duration: 0.5s;
  transition: 0.5s ease;
  opacity: 0.9;
}
.image-link {
  position: relative;
}
/* Estilos das páginas de Projeto */
.tituloPrincipal {
  font-family: 'SemiBold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 68px;
  color: #2c6fa3;
}
.tituloSecundario {
  font-family: 'Regular', sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 40x;
}
div.separador {
  z-index: 1;
  margin-top: 16px;
  margin-bottom: 32px;
  width: 20%;
  height: 12px;
  background-color: #2c6fa3;
}
.textoCorrido {
  font-family: 'Regular', sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
}
.textoMenu {
  font-family: 'Regular', sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #eaeaea !important;
}
@media (max-width: 768px) {
  .textoMenu {
    font-size: 64px;
    line-height: 68px;
    color: #eaeaea !important;
  }
}
.textoLegenda {
  display: flex;
  padding: 16px;
  font-family: 'SemiBold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  align-items: flex-end;
}
.alinhaEmbaixo {
  display: flex;
  align-items: flex-end;
}
.textoBranco {
  color: #FFFFFF;
}
.textoAzul {
  color: #2c6fa3;
}
@media screen and (max-width: 1440px) {
  .tituloPrincipal,
  h2.Projeto {
    font-size: 32px;
    line-height: 34.5px;
  }
  .textoCorrido {
    font-size: 16px;
    line-height: 18px;
  }
  .tituloSecundario {
    font-size: 16px;
    line-height: 20x;
  }
  .textoLegenda {
    font-size: 14px;
    line-height: 16px;
  }
  h1.Projeto {
    font-size: 32px;
    line-height: 34.5px;
  }
  div.separador {
    margin-top: 8px;
    margin-bottom: 16px;
    height: 6px;
  }
}
@media (max-witdh: 768px) {
  .textoLegenda {
    padding-left: 64px !important;
  }
}
/* Estilos para vídeos de projetos */
iframe {
  background-color: #2c6fa3;
}
.vBbox {
  padding-right: 16px  !important;
  padding-left: 0px !important;
  width: 100%;
  height: 100%;
}
@media (max-width: 786px) {
  .vBbox {
    padding-right: 0px !important;
  }
}
.videos {
  position: relative;
  border: 8px;
  border-style: solid;
  border-color: #2c6fa3;
  transform: scale(0.98);
}
.videos:hover {
  transform: scale(0.97);
  transition: 0.5s ease;
}
.capaProjeto {
  display: flex;
  /*background-image: url("../images/rio2016/capa_logos.jpg");*/
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#videoCapa {
  display: flex;
  z-index: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100vh;
  min-height: 100vh;
}
.boxPreto {
  background-color: #262520;
}
.progress-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 4px;
}
.progress-bar {
  height: 4px;
  background: #2c6fa3;
  width: 0%;
}
.pula-capa {
  margin-left: auto;
  margin-right: auto;
  scale: 1;
  padding-bottom: 0.5%;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 2;
  justify-content: center;
  align-items: flex-end;
}
/* #section2 {
  height: 1024px;
}*/
.imagens {
  display: flex;
  margin-top: 16px;
  margin-bottom: 6px;
  width: 100%;
  align-items: flex-end;
}
.imgSobre {
  display: flex;
  margin-top: 16px;
  margin-bottom: 6px;
  width: 100%;
  align-items: flex-end;
  opacity: 0.6;
}
.imagens:hover {
  opacity: 0.9;
  transition: 0.5s ease;
}
.imgSobre:hover {
  opacity: 1;
  transition: 0.5s ease;
}
.bgBranco {
  background-color: #FFFFFF;
}
.inverteCor:hover {
  filter: invert(100%);
  transition: 0.5s ease;
}
.containerBase {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 96px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
}
.containerCapa {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 96px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
}
.textoCapa {
  padding-top: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px;
}
.FixDiv {
  position: fixed;
  padding: 0px 32px 16px 16px !important;
}
@media (max-width: 768px) {
  .containerBase {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
  .containerCapa {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
  .FixDiv {
    position: relative;
    padding: 16px 16px 16px 16px !important;
  }
}
@media (max-width: 768px) {
  .containerBase {
    padding-top: 32px;
  }
  .containerCapa {
    padding-top: 64px;
  }
  .textoCapa {
    padding-top: 16px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 16px;
  }
}
.custom-navbar {
  padding: 0px;
}
.custom-navbar-icon {
  width: 2em !important;
  height: 2em !important;
}
.videosSlap {
  background-color: black;
  margin: auto;
}
