/* variaveis globais */
:root {
    --corDestaque: #08c87d;
    --corBranco: #fffcf1;
    --corPreto: #222222;
    --corCinza: #828282;
}

@font-face {
    font-family: NotoSerif;
    src: url(../assets/fonts/Noto_Serif/NotoSerif-Light.ttf);
}

@font-face {
    font-family: Fraunces;
    src: url(../assets/fonts/Fraunces/Fraunces_9pt_SuperSoft-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

::selection {
    background-color: var(--corPreto);
    color: var(--corBranco);
}

body {
    background-color: var(--corDestaque);
    margin: 0px;
}

p {
    font-family: Poppins;
    font-size: 64px;
    line-height: 125%;
    color: var(--corPreto);
}

a, a:visited {
    font-family: Poppins;
    color: var(--corPreto);
    text-decoration: none;   
}

a:hover {
    color: var(--corBranco);
    animation-name: example;
    opacity: 75%;
}

.conteudo {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 0vh;
    padding-left: 24px;  
    width: 95%;
}

@media screen and (max-width: 600px) {
    p {
        font-size: 32px;
    }
    
}