.font-face(@font-family, @filepath){
    @font-face {
        font-family: @font-family;
        src: url('../fonts/@{filepath}.ttf');
    }
}
.font-face('Regular', 'SourceCodePro-Regular');
.font-face('Medium', 'SourceCodePro-Medium');
.font-face('SemiBold', 'SourceCodePro-SemiBold');

@tamH1: 64px;
@tamH2: 32px;

::selection {
    background-color: black;
    opacity: 1;
}

body {
    padding: 0;
    box-sizing: border-box;
    margin: 0px;
    background-color: black;
}

h1 {
    font-family: 'Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: @tamH1;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.5em;
    color: #FFFFFF;
    margin: 0px;
}

h2 {
    font-family: 'Regular', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.25em;
    color: #FFFFFF;
    margin: 0px;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100vh;
    grid-gap: 16px;
    max-height: 980px;

}

ul {
    display: block;
    padding: 0px;
}

ui {
    display: flex;
}

.principal {
    padding-top: 48px;
    height: 100%;
}

.menu {
    padding-left: 0px;
}

.linhaMenu {
    justify-content: right;
    left: 10%;
    right: -50%;
    background-color: white;
    height: 4px;
    width: 100px;
    margin-left: 8px;
    align-self: center;
    opacity: 0;
}

.logo {
    width: 100%;
    min-width: 128px;
}

#videoBG {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    //width: 1920px;
    z-index: -1000;
    background: url(assets/BG_FRAME.png)
}

.destaques {
    display: flex; 
    flex-direction: column;
    padding-top: 48px;
    max-width: 100%;
}

.texto {
    font-family: 'Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;
}

.centraTexto {
    text-align: center;
}

.limpaMargens {
    margin: 0px;
}

.titulo {
    padding-top: 16px;
    padding-bottom: 16px;
}

.textoDestaque {
    font-family: 'Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    margin-top: 4px;
}

.centraTexto {
    text-align: center;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
}

.underline:hover {
    background-size: 8px 1em;
    box-shadow:
    inset 0 0em white,
    inset 0 -0.4em currentColor;
}

.videoDestaque {
    width: 676px;
    height: 380px;
}

.logoStr {
    width: 80%;
    //padding-right: 18px;
}

.containerLogos {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    //align-self: flex-start;
}

.line {
    background-color: 0px;
    width: 60px;
    height: 4px;
    display: none;
}

// ESTILOS DA SECAO DISCOGRAFIA

.bgCapas {
    display: block;
    background-color: black;
    z-index: 1;
    width: 100%;
}

.containerTitulo {
    padding-top: 4%;
    padding-bottom: 4%;
    width: 100%;
}

.capas {
    display: flex;
}

.imgCapas {
    //position: relative;
    //z-index: -100;
    margin: 0;
    padding: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
}

.capas:hover {
    transition: .7s ease;
    filter: invert(100%);
}

.textoCapas {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    align-self: center;
}


// ESTILOS DA SECAO SOBRE

.gridConteudo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 635px;
    grid-gap: 16px;
}

.textoSobre {
}

.fotoBio {
    max-width: 712px;
}

.cropCapa {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
}

@media (max-width: 768px) {
    h1 {
        font-size: @tamH1 / 2;
        line-height: 40px;
        letter-spacing: 0.25em;
    }

    h1.disco {
        font-size: 21px;
        line-height: 24px;
        opacity: 1;
    }

    h2 {
        font-size: 21px;
        line-height: 20px;
    }

    main {
        display: block;
    }

    .logo {
        width: 16vh;
        min-width: 128px;
    }

    .principal {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .menu {
        padding-left: 16px;
    }

    .videoDestaque {
        width: 100%;
        height: 208px;
        align-self: flex-end;
        order: 2;
    }

    .containerLogos {
        margin-bottom: 16px;
        //align-self: flex-start;
        //order: 1;
    }

    .logoStr {
        width: 80%;;
    }

    .destaques {
        justify-content: center;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    .line {
        display: block;
    }
    
    .gridConteudo {
        display: block;
        padding: 0px 20px 0px 20px;
    }

    .containerTitulo {
        padding-top: 7.4%;
        padding-bottom: 7.4%;
    }

    .textoSobre {
        padding-top: 8px;
    }

    .fotoBio {
        width: 100%;
    }

    .capas {
        display: block;
        height: 200px;
    }

    .textoCapas {
        padding-top: 20%;
    }

    .linhaMenu {
        opacity: 1;
    }
}