@font-face {
  font-family: 'Regular';
  src: url('../fonts/SourceCodePro-Regular.ttf');
}
@font-face {
  font-family: 'Medium';
  src: url('../fonts/SourceCodePro-Medium.ttf');
}
@font-face {
  font-family: 'SemiBold';
  src: url('../fonts/SourceCodePro-SemiBold.ttf');
}
body {
  padding: 0;
  box-sizing: border-box;
  margin: 0px;
  background-color: black;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100vh;
  grid-gap: 16px;
}
.principal {
  padding-top: 48px;
}
.menu {
  padding-left: 0px;
}
.logo {
  width: 100%;
  min-width: 128px;
}
#videoBG {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1000;
  background: url(assets/BG_FRAME.png);
}
.destaques {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  max-width: 100%;
}
.texto {
  font-family: 'Regular', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
}
.limpaMargens {
  margin: 0px;
}
.titulo {
  padding-top: 16px;
  padding-bottom: 16px;
}
.textoDestaque {
  font-family: 'Regular', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  margin-top: 8;
}
a {
  color: #FFFFFF;
  text-decoration: none;
}
a:hover {
  color: #FFFFFF;
}
.underline:hover {
  background-size: 8px 1em;
  box-shadow: inset 0 0em white, inset 0 -0.4em currentColor;
}
.videoDestaque {
  width: 530px;
  height: 298px;
}
.logoStr {
  width: 160px;
}
.containerLogos {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .grid {
    display: block;
  }
  .logo {
    width: 16vh;
    min-width: 128px;
  }
  .principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .menu {
    padding-left: 16px;
  }
  .videoDestaque {
    width: 100%;
    align-self: flex-end;
    order: 2;
  }
  .containerLogos {
    flex-direction: row;
    align-self: flex-start;
    order: 1;
  }
  .logoStr {
    width: 80%;
  }
  .destaques {
    justify-content: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
